AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
PORT=4545
S3_URL_EXPIRY=3600
MONGOURL=mongodb://root:root@192.168.0.15:27018/stayhalo?authSource=admin
S3_REGION=region
S3_BUCKET=bucket
WHATSAPP_URL=url
WHATSAPP_ADMIN_USERNAME=username
WHATSAPP_ADMIN_PASSWORD=password
WHATSAPP_WEBHOOK_SECRET=secret
HOST=host
GOOGLE_APPLICATION_CREDENTIALS=credentials
REDIS=redisUrl
pageSize=10